@charset "UTF-8";

/*! main.scss | Vuero | Css ninja 2020-2021 */

/* ==========================================================================
SCSS Imports
========================================================================== */

@import './bulma-generated/generated-vars.sass';
@import './css-variables/all';

@import './abstracts/all';

// Here we import bulma-css-vars instead of bulma
// because we want to use the variables defined in the file
@import './node_modules/bulma-css-vars/bulma-cv-lib';

@import './layout/all';

@import './components/cards';
@import './components/content';
@import './components/forms-general';
@import './components/forms-checkboxes';
@import './components/forms-slider';
@import './components/forms-multiselect';
@import './components/steps';
@import './components/links';
@import './components/lists';
@import './components/nprogress';
@import './components/datepicker';
@import './components/divider';
@import './components/editors';
@import './components/charts';
@import './components/toggles';
@import './components/placeload';
@import './components/popovers';
@import './components/theme-switch';
@import './components/tabs';
@import './components/table';
@import './components/toasts';
@import './components/toolbar';
@import './components/tooltips';
@import './components/ckeditor';
@import './components/color-picker';
@import './components/credit-card';
@import './components/widgets';
@import './components/layout-selector';

.text-nowrap {
  white-space: nowrap;
}

.ais-SearchBox-input {
  position: relative;
  background: var(--white);
  border: 1px solid var(--border);
  color: var(--dark-text);
  border-radius: 0.5rem;
  height: 38px;
  transition: box-shadow 0.3s;
  padding: 6px 12px;

  &::placeholder {
    color: var(--placeholder);
  }

  &:focus {
    box-shadow: var(--light-box-shadow);
  }
}

.ais-SearchBox-submit {
  display: none;
}

.ais-SearchBox-reset {
  display: none;
}

.ais-Pagination-list {
  display: flex;
  gap: 10px;
}

.ais-Pagination-item {
  height: 40px;
  width: 40px;
  background: white;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ais-Pagination-item--selected {
  background: var(--primary-light-3);

  .ais-Pagination-link {
    color: var(--white);
  }
}
